body {
    background: url(images/space-invaders-background.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#Div_CanvasContainer {
    width:  800px;
    height: 730px;
    border: 0px none;
    position:absolute;
    top   : 10;
    left  : 0;
    right : 0;
    margin: 0 auto;
    visibility: hidden;
}

canvas.emscripten {
    border: 0px none;
    margin-left:auto;
    margin-right:auto;
    display:block
}

#loadingDiv {
    text-align : center;
    color      : white;
}

.container {
    display : flex;
    width   : 842px;
}
.fixed {
    width:  810;
}
.flex-item{
    text-align : right;
    flex-grow  : 1;
}

#footer {
    position: absolute;
    bottom: 1em;
    text-align: center;
    color: white;
    width: 100%;
}